body {
    margin:0 ;
    
}

.name{
    font-size:50px;
    font-family:  Brush Script MT,cursive;
    text-align: center;
    color:#169683
}

.smallbio{
    padding-bottom:100px;
    font-family:'Courier New', Courier, monospace;
    font-size:20px;
    color:#169683;
    text-align: center;
}


#top-container {
     background-color: rgb(224, 235, 231);

}


.satwik-img{
   
    
    height:100px;
   
}


.boy-img{
    
    height:100px;
   display: block;
    margin-left: auto;
    margin-right: auto

}

.boy-left{
    height:100px;
    
    margin-left: 200px;

}
.bio{

     height:100px;
   display: block;
    margin-left: auto;
    margin-right: auto

 
}


.boy-right{
    height:100px;
    
    margin-left: 550px;
    
}

#middle-container {

    background-color: rgb(246, 246, 246);
    
}



.what {
    font-family: 'Courier New', Courier, monospace;
    color:#169683;
    font-size: 18px;
    
    
    
    
}

.Navbar{
    font-size: 20px;
    text-align: right;
    
}

.home{

    text-decoration: none;
    text-align: right;
    color:#169683;
   
    padding: 20px;
}

.aboutme{
    
    text-decoration: none;
    text-align: right;
    color:#169683;
    
    padding: 20px;
}

.p { margin-top: -10px; }


.background{
    
    width:100%;
}

.code{
    font-family: 'Courier New', Courier, monospace;
    color:#169683;
    font-size: 18px;
    padding:0;
    margin:0;
    text-align: center;
 
    
}

.Nav {
    text-decoration: none;
    text-align: right;
    color:#169683;
    padding-top:20px;
    font-size: 20px;
}
